body {
    background-color: #0A0C1C;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
    
}

.rectangle {
    flex-basis: 1110px;
    background-color: #1B1937;
    height: 29vw;
    display: flex;    
    max-height: 446px;
    border-radius: 8px;
}



.main-text {
    flex-basis: 570px;
    height: 446px;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #FFFFFF;
}

.main-text h1 {
    margin: 5vw 72px 0;
    text-align: left;
    width: 403px;
    height: 88px;
    font-family: 'Inter', sans-serif;;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;    
}

h1 span {
    color:#AB5CDB;    
}

.main-text p {
    width: 374px;
    height: 75px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    margin: 25px 72px 0;
    
}

.stat-table {
    display: grid;
    width: 403px;
    grid-template-columns: repeat(3, 1fr);
    margin: 2vw 72px 59px;
    font-family: Lexend Deca;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 25px;    
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
}

#figure {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    opacity: 1;
    text-transform: none;
}

.stat-table span {
    opacity: 0.6;
}
/*Can I get this to slide underneith the text?*/
.image-container {
    flex-basis: 540px;
    /*background-image: url("images/image-header-desktop.jpg");*/
    border-radius: 0 8px 8px 0;
    background-color: #AB5CDB;       
    overflow: hidden; 
      
}

.image-container img {
    opacity: 0.75;
    mix-blend-mode: multiply; 
}

.image-container img:last-child {
    display: none;
}

/*-----Portrait screen-----*/

@media only screen and (max-width: 1110px) {
    .rectangle {
        flex-direction: column-reverse;
        height: 90vh;
        min-width: 327px;
        max-width: 540px;
        min-height: 780px; 
        height: 780px;
        margin-top: 88px;
        align-items: center;
    }
    .main-text {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 25px;
        /* or 167% */
        text-align: center;
        margin: 16px 5% 40px;
        align-items: center;
        width: 264px;
        height: 100px;
    }

    .main-text h1 {
        margin: 40px 0 0 0;
        text-align: center;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 32px;
        width: 264px;
        height: 96px;
    }
    .main-text p {
        margin: 16px 0 0 0;
        width: 264px;
        height: 96px;
    }
    .stat-table {
        display: grid;
        width: 403px;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: none;
        row-gap: 24px;
        margin-top: 40px;
    }
    .image-container {
        height: auto;
        width: 100%;
        overflow: hidden;
        flex-basis: 240px;
        border-radius: 8px 8px 0 0;
        
    }
    .image-container img {
        height: auto;
        width: 100%;
    }

    .image-container img:first-child {
        display: none;
    }

    .image-container img:last-child {
        display: flex;
    }
}